.card {

  height: 350px;
  width: 200px;
  border : 2px ridge grey;
  border-radius : 15px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

}

.card:hover {
  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
}

.container-detail {

  height: 120px;
  width: 190px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.container-button {

  width: 180px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
