nav {
  width: 99%;
  padding: 2px 2px 2px 2px;
  border : 2px ridge grey;
  border-radius : 15px;
  display: flex;
  flex-direction: row;
	justify-content: space-between ;
	align-items: center;
}

.nav-left {
  width: 150px;
  padding-left : 15px ;
  display: flex;
  flex-direction: row;
  justify-content: space-between ;
  align-items: center;
}

.nav-right {
  width: 450px;
  padding-right : 15px ;
  display: flex;
  flex-direction: row;
  justify-content: space-between ;
  align-items: center;
}

.nav-button {
  width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-between ;
  align-items: center;
}

nav button {
  border: none;
  height : 30px;
  width: 70px;
  border-radius : 15px;
  background-color : yellow; 
}

nav button:hover{

  height : 35px;
  width: 80px;
}

.nav-user {
  width: 130px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 70px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
